@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;500;700&family=Merienda:wght@400;700&display=swap");

/* Début Base-Index */

body {
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Arima Madurai", cursive;
}

h1 {
  text-align: center;
  font-family: "Merienda", cursive;
  padding: 1rem;
  margin: 0;
}

a{
  color: #333D29;
  text-decoration: none;
}

a:hover{
  color: #cb997e;
  text-decoration: none;
}

a:visited{
  color: #cb997e;
  text-decoration: none;
}

.contain {
  margin: auto;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  margin: auto 0.5vw;
  width: 30vw;
  height: 40vw;
  border-radius: 5px;
  border: 0.5px solid rgba(196, 196, 196, 0.6);
  box-shadow: 0 0 2px 1px rgba(196, 196, 196, 0.6);
}

.article img {
  width: 28vw;
  padding: 0.5rem 0;
  margin: 0;
}

.article h2 {
  margin: 0;
  padding: 0.5rem 0;
  font-family: "Merienda", cursive;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}

.article h2 a {
  color: #333d29;
  text-decoration: none;
}

.article h2 a:hover {
  color: #cb997e;
  text-decoration: none;
}

.article .box-contain {
  padding: 0;
  margin: 0;
  height: 20vw;
  font-family: "Arima Madurai", cursive;
  font-weight: 400;
}

.article .description {
  margin: 0;
  padding: 0.2rem 2rem;
}

.article .description p {
  padding: 0;
  margin: 0;
}

.article .contenu {
  text-align: justify;
  font-family: "Arima Madurai", cursive;
  font-weight: 400;
}

/* Fin Base-Index */

/* Début pages article */

.art-contain {
  margin: auto;
  width: 95vw;
  /* display: flex;
  flex-wrap: wrap; 
  gap: 0.5rem;*/
}

.art-contain h2 {
  margin: auto;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.art-contain .publication{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.art-contain img{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.art-contain .author {
  display: block;
  text-align: right;
  font-style: italic;
}

.art-contain .author span {
  font-weight: 600;
}

.contain-comm {
  margin: 0;
  padding-left: 2vw;
  width: 95vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.contain-comm h2 {
  margin: 0;
}

.contain-comm p {
  margin: 0;
}

.contain-comm .comm {
  background-color: #c4c4c4;
  margin-bottom: 2vw;
  padding-left: 1vw;
  border: 1px solid #c4c4c4;
}

/* Fin pages article */

/* Début table */

.t-contain{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  width: 90vw;
  justify-content: center;
  align-items: center;
}

.table thead{
  border: 1px solid #c4c4c4;
  padding: 2px;
}

.table tbody{
  border: 1px solid #c4c4c4;
  padding: 2px;
}

.table td{
  text-align: center;
  vertical-align: middle;
  padding: 2px;
}

.table td img{
  width: 5vw;
}

/* Fin table */

/* Début Admin Nav */

.adminNav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 3vw;
  background-color: #fff;
  color: #333D29;
  box-shadow: 0 0 3px .5px #c4c4c4;
}

.adminNav ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}

.adminNav ul li{
  display: flex;
  list-style: none;
  font-family: "Arima Madurai", cursive;
  font-weight: 600;
  text-transform: uppercase;
}

.adminNav ul li a{
  color: #333D29;
  text-decoration: none;
}

.adminNav ul li a:hover{
  color: #cb997e;
  text-decoration: none;
}

.adminNav ul li a:visited{
  color: #cb997e;
  text-decoration: none;
}

/* Fin Admin Nav */