	<nav class="adminNav">
		<ul>
			<li>
				<a href="{{ path('app_article_index') }}">Accueil Admin</a>
			</li>
			<li>
				<a href="{{ path('app_article_index') }}">Gestion des articles</a>
			</li>
			<li>
				<a href="{{ path('app_categorie_index') }}">Gestion des catégories</a>
			</li>
			<li><a href="{{ path('app_commentaire_index') }}">Gestion des commentaires</a></li>
		</ul>
	</nav>