<header>
	<div class="icons">
		<a href="#">
			<span class="fa-brands fa-instagram"></span>
		</a>
		<a href="#">
			<span class="fa-brands fa-facebook-f"></span>
		</a>
		<a href="#">
			<span class="fa-solid fa-envelope"></span>
		</a>

		{% if app.user %}
			<a href="{{ path('app_logout') }}">
				<span class="fa-solid fa-user"></span>
			</a>

		{% else %}

			<a href="{{ path('app_login') }}">
				<span class="fa-solid fa-power-off"></span>
			</a>
		{% endif %}
	</div>
	<nav>
		<ul>
			<li><a href="#">Test</a></li>
			<li><a href="{{path('main')}}"><img src="/images/NTI logo2sf.png"></a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
</header>
